body {
  background-color: #eef5ff;
  background-image: url(../images/Blue-Backgrounds-HD.jpg);
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.container {
  background-color: white;
  width: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  animation: slideIn 2s ease-in-out;
  overflow-y: auto;
  max-height: 70vh;
}
@keyframes slideIn {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  font-weight: bold;
  background-color: #b4d4ff;
  padding: 10px 30px;
  border-radius: 5px;
}
.balance {
  grid-column: span 4;
}
.expense {
  grid-column-start: 4;
}
button {
  border: none;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
.search {
  border: none;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
#add,
#search {
  background-color: #176b87;
  color: white;
}
#add:hover,
#search:hover {
  background-color: #dde0e4;
  color: #176b87;
}
.describe {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: baseline;
}
h3 {
  margin-bottom: 0;
}
#delete {
  background-color: red;
  color: white;
}
#edit,
#delete {
  max-width: 55px;
  padding: 10px 5px;
}
#transactionForm {
  display: none;
  background-color: white;
  width: 300px;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 1s ease-in-out;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
label {
  font-weight: bold;
}
input,
select {
  border: none;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
#submit {
  cursor: pointer;
}
